@model Course_station.Models.Learner
@{
    ViewData["Title"] = "Home";
}
<h1>Home page </h1>
 <div class="btn-group-vertical"> 
    <a asp-controller="Learners" asp-action="AchievementProgress" class="btn btn-primary">AchievementProgress</a>
    <a asp-controller="Learners" asp-action="QuestProgress" class="btn btn-success">QuestProgress</a>

</div> 